.hamburger {
    cursor: pointer;
    width: 30px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .line {
    width: 100%;
    height: 4px;
    background-color: #f11212;
    transition: transform 0.8s ease;
    border-radius: 25px;
  }
  
  .lineHidden {
    opacity: 0;
  }
  
  .lineCrossTop {
    transform: translateY(5px) rotate(215deg);
  }
  
  .lineCrossBottom {
    transform: translateY(-5px) rotate(145deg);
  }
  